<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 디비의 _방식의 컬럼명을 자바의 카멜방식으로 매핑시켜주는 아이  -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
</configuration>
  